body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to bottom right, #00F490, #00BBC9) ;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}



